{
  "extends": ["plugin:compat/recommended"],
  "env": {
    "browser": true
  },
  "settings": {
    "polyfills": [
      "Symbol.toStringTag",
      "Object.entries",
      "Object.assign",
      "Intl.PluralRules",
      "window.scrollX",
      "Object.getOwnPropertySymbols",
      "Number.isNaN"
    ]
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
}
}
