:root {
  --litepickerMonthButton: #ecafd3 !important;
  --litepickerMonthButtonHover: #f781c3 !important;
  --litepickerDayColorHover: #f68e6b !important;
  --litepickerDayIsInRange: #f9dda5 !important;
  --litepickerDayIsStartBg: #f68e6b !important;
  --litepickerDayIsEndBg: #f68e6b !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}
hr {
  border-top: 1px solid #fcc463;
  margin-top: 2em;
  margin-bottom: 2em;
}
code,
.code {
  font-family: monospace;
  color: #f44336;
  background-color: #f1f1f1;
  padding: 3px;
  border-radius: 5px;
  white-space: pre-line;
}
.code:first-line {
  line-height: 0;
}
button.calendar-icon {
  background-image: url(../images/calendar-icon.svg);
  width: 22px;
  height: 22px;
  background-size: 100%;
  border: 0;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.lead {
  font-size: 2em;
  margin-bottom: 1em;
}
.text-gray {
  color: #9e9e9e;
}
[id^="anchor-"] {
  text-decoration: none;
  color: #9e9e9e;
}

.bg {
  display: inline-block;
  z-index: -20;
  line-height: 0;
  opacity: 1;
  background-color: rgb(253, 251, 250);
  background-image: url(../images/bg.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-position: center top;
  background-attachment: fixed;
}
.bg:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  opacity: 0.07;
  background-color: rgb(255, 255, 255);
}
.wrapper {
  margin: 3em 6em;

  > .container {
    padding: 25px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 15px 0 #ddd;
  }
}

.header {
  text-align: center;

  h1 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0.5em;
    letter-spacing: 0.1em;
  }

  h2 {
    font-weight: normal;
  }

  p {
    font-size: 1.5em;
  }

  div#header-anchors {
    margin-top: 25px;

    > a {
      text-decoration: none;
      color: #2196f3;
      padding: 10px;

      > span {
        color: #333;
      }
    }
  }
}

#demo {
  display: flex;

  #demo-options {
    width: 400px;

    h3 {
      margin: 0;
    }

    #picker-options {
      padding-left: 25px;

      .picker-option-item {
        display: flex;
        margin-bottom: 5px;

        > label {
          font-weight: bold;
          margin-right: 10px;
          margin-top: 2px;
        }

        > div {
          flex: 1;
          display: flex;
          justify-content: space-between;

          .user-value-container {
            flex: 1;
            display: flex;
            justify-content: flex-end;
          }
        }

        .user-value-container input[type="number"] {
          width: 50px;
          border-radius: 5px;
          border: 1px solid #ddd;
          padding: 2px 5px;
        }
      }
    }
  }

  #demo-preview {
    flex: 1;
    text-align: center;

    #demo-preview-sticky {
      position: sticky;
      top: 25px;
    }
  }
}

#litepicker {
  border-radius: 6px;
  max-width: 500px;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 1.5em;
  text-align: center;
}

input.apple-switch {
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 45px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #d9dadc;
  border-radius: 25px;
  box-shadow: inset -24px 0 0 0 #9e9e9e;

  &:disabled {
    background-color: #ddd;
  }

  &:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: transparent;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
  }

  &:checked {
    box-shadow: inset 24px 0 0 0 #4cd964;
    border-color: #4cd964;
  }

  &:after {
    left: 22px;
    box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.05);
  }
}

#options-description {
  margin-top: 1em;

  .lead {
    margin-bottom: 0.5em;
  }

  .option {
    &-type {
      text-align: center;
    }
    &-default {
      text-align: center;
      font-family: monospace;
    }
    &-is-object {
      white-space: pre-line;
      text-align: left;
      line-height: 1;
    }
  }

  .header-cell {
    text-align: center;
  }
}

.js-list {
  .options-list-item {
    position: relative;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;

    &[data-can-unfold="true"] {
      .option-title {
        .icon:before {
          content: "+";
        }
      }

      .option-description {
        transform: scaleY(0);
        height: 0;
      }
    }

    &[data-can-unfold="false"] {
      background-color: #fafafa;

      .option-title {
        .icon:before {
          content: "-";
        }
      }

      .option-description {
        transform: scaleY(1);
        height: auto;
      }
    }

    &:hover {
      background-color: #fafafa;
    }

    &.options-list-item.option-deprecated {
      color: #999;

      .deprecated-reason,
      .deprecated-replacement {
        margin-top: 15px;
        color: #333;
      }
    }

    .option-title-flex {
      display: flex;
      justify-content: space-between;
    }

    .option-title {
      cursor: default;

      &:hover {
        /*font-weight: bold;*/
      }

      .icon:before {
        position: absolute;
        left: 5px;
        color: #2196f3;
      }

      .option-title-text {
        font-size: 120%;
        font-weight: bold;
      }

      .option-title-req,
      .option-title-deprecated {
        color: #ff5722;
      }

      .option-title-min {
        font-size: 90%;
        color: #999;
      }
    }

    .option-description {
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
      overflow: hidden;

      .deprecated-reason {
        font-weight: bold;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    th,
    td {
      border: 1px solid #bdbdbd;
      padding: 3px 10px;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin: 0;

    > .container {
      border-radius: 0;
    }
  }

  code,
  .code {
    word-break: break-all;
  }

  #demo {
    flex-direction: column-reverse;

    #demo-options {
      width: 100%;
    }

    #demo-preview {
      margin-bottom: 2em;
    }
  }

  #options-description {
    .table-grid-header {
      display: none;
    }
  }
}
