---
---
{% if site.color_scheme and site.color_scheme != "nil" %}
  {% assign color_scheme = site.color_scheme %}
{% else %}
  {% assign color_scheme = "light" %}
{% endif %}
{% include css/just-the-docs.scss.liquid color_scheme=color_scheme %}

:root {
  --color-profile-color-modes-toggle-moon: #999;
  --color-profile-color-modes-toggle-track-bg: #fff;
  --color-profile-color-modes-toggle-thumb-bg: #2f363d;
  --color-profile-color-modes-toggle-track-border: #d1d5da;
}

#bg {
  background-color: #fdfbfa;
  background-image: url(../images/bg-light.webp);
}

.main-content-wrap {
  background-color: #fff;
}

.site-footer {
  color: #333;
}

.easepick-inform {
  padding: 0.75rem 1.25rem;
  color: #fff;
  background-color: #238ae6;
  border-bottom: rgba(0,0,0,0.2);
  text-align: center;
  font-size: 24px;
}
.easepick-inform a {
  color: #fff;
}
.easepick-inform .title {
  margin-top: 0;
  margin-bottom: 0.5em;
}
.easepick-inform .subtitle {
  font-size: 18px;
  margin: 0;
}