---
---
{% include css/just-the-docs.scss.liquid color_scheme="dark" %}

#bg {
  background-color: #27262b;
  background-image: url(../images/bg-dark.png);
}

:root {
  --color-profile-color-modes-toggle-moon: #ffdf5d;
  --color-profile-color-modes-toggle-track-bg: #333;
  --color-profile-color-modes-toggle-thumb-bg: #2f363d;
  --color-profile-color-modes-toggle-track-border: #607d8b;

  --litepicker-container-months-color-bg: #27262b;
  --litepicker-month-header-color: #e6e1e8;
  --litepicker-day-color: #e6e1e8;
  --litepicker-is-in-range-color: #37474f;
  --litepicker-is-start-color-bg: #e6e1e8;
  --litepicker-is-end-color-bg: #e6e1e8;
  --litepicker-is-start-color: #333;
  --litepicker-is-end-color: #333;
  --litepicker-day-color-hover: #fff;
  --litepicker-tooltip-color-bg: #333;
}

.main-content-wrap {
  background-color: #27262b;
}

.site-footer {
  color: #fafafa;
}